<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <p>User ID: {{ user.id }} </p>
            <p>User Name: {{ user.name }} </p>
            <p>User Email: {{ user.email }} </p>
            <p>User Phone: {{ user.phone }} </p>
            <!-- <p>Username: {{ user.username }} </p>
            <p>User Website: {{ user.website }} </p>
            <p>User Address: {{ user.address.city }} </p> -->
            <button class="btn btn-info form-control" routerLink= "/user">Back</button>
        </div>
    </div>
</div>
