<div class="row">
  <div class="col-xs-12">
    <app-user-item></app-user-item>
    <hr> 
    <h1 class="text-center">Contact List</h1>
    <hr>
    <!-- Table -->
    <table class="table table-striped text-center">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Email:</th>
            <th class="text-center" scope="col">Phone No.:</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index" @animation>
            <td> {{ user.id }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.phone }} </td>
            <td>
              <button style="cursor: pointer" class="btn btn-secondary" (click)="onEditUser(i)">Edit</button> 
              <button style="cursor: pointer" class="btn btn-warning" [routerLink]="['/user', i]">View</button> 
            </td>
          </tr>      
        </tbody>
      </table>
      <hr>
  </div>
</div>